html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
}

h2 {
  color: #fff;
  /* font-size: '100px'; */
  font-family: 'Ubuntu', sans-serif;
}


.App {
  text-align: center;
}



.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  /* min-width: 60ch;
  min-height: 60ch; */
  width: 35ch;
  height: 8ch;
  max-width: 100ch;
  max-height: 100ch;
  top: 20%;
  left: 3.5rem;
  /* background-color: aquamarine; */
  /* background-image: url(https://image.flaticon.com/icons/svg/119/119596.svg); */
}


.card2 {
  width: 35ch;
  height: 8ch;
  max-width: 100ch;
  max-height: 100ch;
  right: 0rem;
  top: 60%;
  /* background-color: blueviolet; */
  /* background-image: url(https://image.flaticon.com/icons/svg/789/789395.svg); */
}

.card3 {
  width: 45ch;
  height: 5ch;
  max-width: 100ch;
  max-height: 100ch;;
  left: 2rem;
  top: 30%;
  z-index: 0;
  background-color: #f84aa7;
  
  /* background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg); */
}

.card4 {
  width: 45ch;
  height: 5ch;
  max-width: 100ch;
  max-height: 100ch;
  right: 2rem;
  top: 70%;
  background-color: #3f88c5;
  /* background-image: url(https://image.flaticon.com/icons/svg/789/789392.svg); */
}

.card5 {
  width: 48ch;
  height: 1ch;
  max-width: 100ch;
  max-height: 100ch;;
  left: 1.9rem;
  top: 34%;
  z-index: 100;
  background-color: #fff;
  border-radius: 0px;
  
  /* background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg); */
}

.card6 {
  width: 48ch;
  height: 1ch;
  max-width: 100ch;
  max-height: 100ch;;
  right: 1.9rem;
  top: 74%;
  z-index: 0;
  background-color: #fff;
  border-radius: 0px;
  /* background-image: url(https://image.flaticon.com/icons/svg/789/789392.svg); */
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

