html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
 
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden;
}

h2 {
  color: #333;
  /* font-size: '100px'; */
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
}

.hello{
  font-size: 5rem;
}

.profile{
  z-index: 100;
  position: absolute;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}


.App {
  text-align: center;
}

.selected{
  background: #8380b6;
  color: #fff; 
  padding: .25rem;
  margin: .2rem;
  /* background-image: linear-gradient(to right, #45f0df , #8380b6); */
  border-radius: 20.5px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  border: 2px solid #8380b6;
  text-align: center;

}

.infoSection{
  margin-top: 5%;
  z-index: 1;
  position: relative;
  animation: infoFadeIn  1 .25s linear;
  font-size: 2rem;
}

.infoSection > h3{
  font-size: 1.55rem;
}

.emphasisText{
  color: #8380b6; 
  font-weight: 600;
}

.circleDiv{
  position: absolute;
  background-image: linear-gradient(to bottom right, #45f0df , #8380b6);
  border-radius: 50%;
  left: 50%;
  top: -30%;
  z-index: 0;
  height: 754px;
  width: 754px;
  overflow: hidden;
}

@media (max-width: 500px){
  .circleDiv{
    display: none;
    overflow: hidden;
  }
}

.profile{
  animation: profileFadeIn 1 .5s linear;
  margin-top: 28%;
  margin-left: 25%;
}

.linesBgTop{
  width: 35%;
  top: -40%;
  left: 45%;
  z-index: 0;
  position: absolute;
  animation: linesSpin infinite 140s linear;
  overflow: hidden;
}

.linesBgBot{
  width: 40%;
  top: 60%;
  left: -10%;
  z-index: 100;
  position: absolute;
  animation: linesSpin infinite 140s linear;
  overflow: hidden;
}

@media (max-width: 500px){
  .linesBgBot{
    width: 90%;
    left: 0%;
  }
}

.buttonWrap {
  width: 8.5rem;
  margin: .5rem .5rem;
  z-index: 2;
  /* background-image: linear-gradient(to right, #45f0df , #8380b6); */
  border-radius: 20.5px;
  background-color: #fff;
  color: #8380b6!important; 
  font-family: 'Poppins', sans-serif;
  letter-spacing: 4px;
  font-size: 18px;
  border: 2px solid #8380b6;
  text-align: center;
  padding: .5rem .8rem;
}

.buttonNav{
  margin-top: 3%;
}

.buttonWrap:hover{
  text-decoration: none;
  color: #fff!important;
  background-color: #8380b6;
  border: 2px solid #8380b6;
}

.aboutRow{
  margin-top: 5%;
}

.techRow{
  margin-top: 25%;
  padding-bottom: 5%;
}

.techRow h3 {
  font-size: 1.55rem;
  margin-top: 2px;
}

.HTMLDiv{
  border-radius: 20px;
  border: 1px #8380b6 solid;
  height: 2rem;
  position: relative;

}

.HTMLDiv > span{
  background-image: linear-gradient(
    to right,
    #45f0df,
    #8380b6
  );
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  animation: progressBar100 1 .5s linear ;
}

.CSSDiv{
  border-radius: 20px;
  border: 1px #8380b6 solid;
  height: 2rem;
  position: relative;

}

.CSSDiv > span{
  background-image: linear-gradient(
    to right,
    #45f0df,
    #8380b6
  );
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  animation: progressBar100 1 .5s linear ;
}

.JavascriptDiv{
  border-radius: 20px;
  border: 1px #8380b6 solid;
  height: 2rem;
  position: relative;
  
}

.JavascriptDiv > span{
  background-image: linear-gradient(
    to right,
    #45f0df,
    #8380b6
  );
  width: 90%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  animation: progressBar90 1 .5s linear ;
  
}

.dnsDiv{
  border-radius: 20px;
  border: 1px #8380b6 solid;
  height: 2rem;
  position: relative;
  
}

.dnsDiv > span {
  background-image: linear-gradient(
    to right,
    #45f0df,
    #8380b6
  );
  width: 75%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  animation: progressBar75 1 .5s linear ;
}

.reactDiv{
  border-radius: 20px;
  border: 1px #8380b6 solid;
  height: 2rem;
  position: relative;
}

.reactDiv > span {
  background-image: linear-gradient(
    to right,
    #45f0df,
    #8380b6
  );
  width: 70%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  animation: progressBar70 1 .5s linear ;
}



.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  overflow: hidden;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes linesSpin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes profileFadeIn {
  0%  {
    
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}

@keyframes infoFadeIn {
  0%  {
    opacity: 0; 
   
  }

  100% {
    opacity: 1; 

  }
}

@keyframes progressBar100 {
  0%  {
    width: 0%; 
   
  }

  100% {
    width: 100%; 

  }
}

@keyframes progressBar90 {
  0%  {
    width: 0%; 
   
  }

  100% {
    width: 90%; 

  }
}
@keyframes progressBar80 {
  0%  {
    width: 0%; 
   
  }

  100% {
    width: 80%; 

  }
}

@keyframes progressBar75 {
  0%  {
    width: 0%; 
   
  }

  100% {
    width: 75%; 

  }
}

@keyframes progressBar70 {
  0%  {
    width: 0%; 
   
  }

  100% {
    width: 70%; 

  }
}





