html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}

h2 {
  color: #333;
  /* font-size: '100px'; */
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}


.App {
  text-align: center;
}

.selected{
  background: #8380b6;
  color: #fff; 
  padding: .25rem;
  margin: .2rem;
  /* background-image: linear-gradient(to right, #45f0df , #8380b6); */
  border-radius: 20.5px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  border: 2px solid #8380b6;
  text-align: center;

}

.infoSection{
  margin-top: 5%;
  z-index: 1;
  position: relative;
}

.emphasisText{
  color: #8380b6; 
  font-weight: 600;
}

.circleDiv{
  position: absolute;
  background-image: linear-gradient(to bottom right, #45f0df , #8380b6);
  border-radius: 50%;
  left: 50%;
  top: -30%;
  z-index: 0;
  height: 754px;
  width: 754px;
  overflow: hidden;
}

.circlePhoto{
  display: flex;
  align-items: right;
  justify-content: right;
}

.linesBgTop{
  width: 35%;
  top: -40%;
  left: 45%;
  z-index: 0;
  position: absolute;
}

.linesBgBot{
  width: 40%;
  top: 60%;
  left: -10%;
  z-index: 100;
  position: absolute;
}

.buttonWrap {
  width: 10rem;
  margin: .5rem 1rem;
  z-index: 2;
  /* background-image: linear-gradient(to right, #45f0df , #8380b6); */
  border-radius: 20.5px;
  background: transparent;
  color: #8380b6!important; 
  font-family: 'Poppins', sans-serif;
  letter-spacing: 4px;
  border: 2px solid #8380b6;
  text-align: center;
  padding: .5rem 1.2rem;
}

.buttonNav{
  margin-top: 2%;
}

.buttonWrap:hover{
  text-decoration: none;
  color: #fff!important;
  background-color: #8380b6;
}



.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  overflow: hidden;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




